@(key:String)@htmlhead("入库明细 列表"){

<script type="text/javascript" src="/public/javascripts/ajaxfileupload.js"></script>
<script type="text/javascript">
	function onclickbody(){
		$("#mygrid").find("div.op-menu:visible").hide();
	}
	
	$(document).ready(	function() {
		//枚举初始化
		
			
		
			
		
			
		
			
		
		
		//Grid 初始化
		$('#mygrid').omGrid({
											height : 505,
											dataType : "json",
											dataSource : '/IntelligentLockInDetail/List?inid=@key',
											showIndex : false,
											limit : 13,									
											errorMsg : "获取数据出错",
											emptyMsg : "没有数据",
											
											//Grid的header配置   ！！！！
											colModel : [
													
													{
														header : '入库明细ID',
														name : 'idd',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '入库单ID',
														name : 'inid',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '产品ID',
														name : 'productid',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													/* {
														header : '产品类型',
														name : 'producttype',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													}, */
													
													{
														header : '产品名称',
														name : 'title',
														
														
														
															width : 150,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},

													{
														header : '产品型号',
														name : 'model',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													}, 
													
													{
														header : '规格',
														name : 'spec',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},

													{
														header : '设备ID',
														name : 'deviceid',
														
															width : 100,
														
														align : 'center',
														sort:'clientSide'
													},
													
													{
														header : '入库方式',
														name : 'inType',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
															,renderer : function(colValue) {   
																if(colValue=="退货入库"){
																	return "<span style='color:red;'>退货入库<span>";
																}else{
																	return "<span style='color:green;'>正常入库</span>";
																}
					                                 		}
														
													},
													
													{
														header : '生产厂家',
														name : 'manufacturer',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '生产批次',
														name : 'batchid',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													/* {
														header : '产品用途',
														name : 'productusage',
														
														
														
															width : 100,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													}, */
													
													{
														header : '数量',
														name : 'amount',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '单价',
														name : 'price',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '总价',
														name : 'totalprice',
														
														
															width : 60,
														
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '备注',
														name : 'remark',
														
														
														
															width : 456,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '添加时间',
														name : 'addtime',
														
															width : 200,
														
														
														
														
														align : 'center',
														sort:'clientSide'
														
															,renderer : function(colValue) {   
					                                    		return fmtDate(new Date(colValue),"yyyy年MM月dd日hh:mm:ss");
					                                 		}
														
														
													},
													
													{
														header : '操作人',
														name : 'operator',
														
														
														
															width : 70,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													},
													
													{
														header : '操作号',
														name : 'operatenumber',
														
														
														
															width : 200,
														
														
														align : 'center',
														sort:'clientSide'
														
														
													}],
											         
													onRefresh: function(nowPage, pageRecords,event){
								                		var $grid = $('#mygrid'); 
								                	    $grid.find("a.op-btn").each(function(){
								                		var $btn = $(this); 
								                		
								                		// 初始化表格里面的操作按钮 
								                	});

								                	// 绑定表格操作按钮菜单的事件 ！！！！
								                	$grid.find("div.op-menu").each(function(){
								                		var $menu = $(this);
								                		var rowindex=$menu.id;
								                		$menu.hide();
								                		$menu.find(".edit").click(function(){
															isAdd = false;
															var index = $(this).parent().attr('id');
											                showDialog('修改',index);//显示dialog
														});
								                		
								                		$menu.find(".delete").click(function(){
															var index = $(this).parent().attr('id');
															doAsk('确定删除吗？' , delit , index );
														});
								                		
								                	});				
								               }
										});
		
						//[新增/修改]dialog初始化
						var dialog = $("#dialog-form").omDialog({
							width : 460,
							autoOpen : false,
							modal : true,
							resizable : false,
							buttons : {
								"提交" : function() {
									submitDialog();
									return false; //阻止form的默认提交动作
								},
								"取消" : function() {
									$("#dialog-form").omDialog("close");//关闭dialog
								}
							}
						});
						
						$('#add').bind('click', function() {
			                isAdd = true;
			                showDialog('新增',null);//显示dialog
			            });
						
						//填充 [新增/修改]dialog并初始化里面的输入框的数据  ！！！！
						var showDialog = function(title, idd) {
							validator.resetForm();
							if(idd!=null){
								//edit info;
								var uri = "/IntelligentLockInDetail/Get/"+idd;
								$.get(uri,function(response){
						            if(response!=null){
										$("input[name='idd']", dialog).val(response.idd);
										
											$("input[name='idd']", dialog).val(response.idd);
											
											
											
											
											
											
										
											$("input[name='inid']", dialog).val(response.inid);
											
											
											
											
											
											
										
											$("input[name='productid']", dialog).val(response.productid);
											
											
											
											
											
											
										
											$("input[name='producttype']", dialog).val(response.producttype);
											
											
											
											
											
											
										
											$("input[name='title']", dialog).val(response.title);
											
											
											
											
											
											
										
											$("input[name='model']", dialog).val(response.model);
											
											
											
											
											
											
										
											$("input[name='spec']", dialog).val(response.spec);
											
											
											
											
											$("input[name='deviceid']", dialog).val(response.deviceid);
											
											
										
											$("input[name='manufacturer']", dialog).val(response.manufacturer);
											
											
											
											
											
											
										
											$("input[name='batchid']", dialog).val(response.batchid);
											
											
											
											
											
											
										
											$("input[name='productusage']", dialog).val(response.productusage);
											
											
											
											
											
											
										
											$("input[name='inType']", dialog).val(response.inType);
											
											
											
											
											
											
										
											$("input[name='amount']", dialog).val(response.amount);
											
											
											
											
											
											
										
											$("input[name='price']", dialog).val(response.price);
											
											
											
											
											
											
										
											$("input[name='totalprice']", dialog).val(response.totalprice);
											
											
											
											
											
											
										
											$("input[name='remark']", dialog).val(response.remark);
											
											
											
											
											
											
										
											$("input[name='addtime']", dialog).val(response.addtime);
											
											
												$("input[name='addtime']", dialog).val(fmtDate(new Date(response.addtime),"yyyy-MM-dd"));
											
											
											
											
											
										
											$("input[name='operator']", dialog).val(response.operator);
											
											
											
											
											
											
										
											$("input[name='operatenumber']", dialog).val(response.operatenumber);
											
											
											
											
											
											
										
						         }
								});
							}
							dialog.omDialog("option", "title", title);
							dialog.omDialog("open");//显示dialog 
						};
						
						//[新增/修改]dialog中点提交按钮时将数据提交到后台并执行相应的add或modify操作  ！！！！
						var submitDialog = function() {
							if (validator.form()) {
								var submitData = {
									operation : isAdd ? 'add' : 'modify',
									idd : $("input[name='idd']",dialog).val(),
									
										
											
												idd : $("input[name='idd']", dialog).val()	
											
											
										
									
										
											
											
												,inid : $("input[name='inid']", dialog).val()
											
										
									
										
											
											
												,productid : $("input[name='productid']", dialog).val()
											
										
									
										
											
											
												,producttype : $("input[name='producttype']", dialog).val()
											
										
									
										
											
											
												,title : $("input[name='title']", dialog).val()
											
										
									
										
											
											
												,model : $("input[name='model']", dialog).val()
											
										
									
										
											
											
												,spec : $("input[name='spec']", dialog).val()
											
										
									
												,spec : $("input[name='deviceid']", dialog).val()
										
											
											
												,manufacturer : $("input[name='manufacturer']", dialog).val()
											
										
									
										
											
											
												,batchid : $("input[name='batchid']", dialog).val()
											
										
									
										
											
											
												,productusage : $("input[name='productusage']", dialog).val()
											
										
									
										
											
											
												,inType : $("input[name='inType']", dialog).val()
											
										
									
										
											
											
												,amount : $("input[name='amount']", dialog).val()
											
										
									
										
											
											
												,price : $("input[name='price']", dialog).val()
											
										
									
										
											
											
												,totalprice : $("input[name='totalprice']", dialog).val()
											
										
									
										
											
											
												,remark : $("input[name='remark']", dialog).val()
											
										
									
										
											
											
												,addtime : $("input[name='addtime']", dialog).val()
											
										
									
										
											
											
												,operator : $("input[name='operator']", dialog).val()
											
										
									
										
											
											
												,operatenumber : $("input[name='operatenumber']", dialog).val()
											
										
									
								};

								$.post('/IntelligentLockInDetail/Modify', submitData, function() {
									if (isAdd) {
										$('#mygrid').omGrid('reload', 1);//如果是添加则滚动到第一页并刷新
										$.omMessageTip.show({
											title : "操作成功",
											content : "添加数据成功",
											timeout : 1500
										});
									} else {
										$('#mygrid').omGrid('reload');//如果是修改则刷新当前页
										$.omMessageTip.show({
											title : "操作成功",
											content : "修改数据成功",
											timeout : 1500
										});
									}
									$("#dialog-form").omDialog("close"); //关闭dialog
								});
							}
						};

						// 对增加/修改表单的校验设置 ！！！！
						var validator = $('#ipForm').validate({
							rules : {
								
									
									
								
									
										inid : {
											required : true,
		                        			maxlength : 100
										}
									
									
								
									
									
										,
										productid : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										producttype : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										title : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										model : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										spec : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
									
								
									
									
										,
										deviceid : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										manufacturer : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										batchid : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										productusage : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										inType : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										amount : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										price : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										totalprice : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										remark : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										addtime : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										operator : {
											required : true,
		                        			maxlength : 100
										}
									
								
									
									
										,
										operatenumber : {
											required : true,
		                        			maxlength : 100
										}
									
								
							},
							messages : {
								
									
									
								
									
										inid : {
											required : "入库单ID不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
									
								
									
									
										,
										productid : {
											required : "产品ID不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										producttype : {
											required : "产品类型不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										title : {
											required : "产品名称不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										model : {
											required : "产品型号不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										spec : {
											required : "规格不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
									
								
									
									
										,
										deviceid : {
											required : "设备ID不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										manufacturer : {
											required : "生产厂家不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										batchid : {
											required : "生产批次不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										productusage : {
											required : "产品用途不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										inType : {
											required : "入库方式不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										amount : {
											required : "数量不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										price : {
											required : "单价不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										totalprice : {
											required : "总价不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										remark : {
											required : "备注不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										addtime : {
											required : "添加时间不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										operator : {
											required : "操作人不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
									
									
										,
										operatenumber : {
											required : "操作号不能为空",
											maxlength : '长度不能超过100个字符'
										}
									
								
							}
						});
						
						//其他iframe 对话框 初始化-->
						$( "#dialog-modal").omDialog({
				            autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
				        });
						
				        $( "#user_auth_form").omDialog({
				            autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
				        });
				        
				        $("#user_add_form").omDialog({
				        	autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
						});	
				        
				        var uploadDialog = $("#upload-form").omDialog({
							width : 500,
							autoOpen : false,
							modal : true,
							resizable : false,
							buttons : {
								"提交" : function() {
									submitUploadDialog();
									return false; //阻止form的默认提交动作
								},
								"关闭" : function() {
									$("#upload-form").omDialog("close");//关闭dialog
								}
							}
						});
						
						var submitUploadDialog = function(){
							$("#upload-form").omDialog("close");
							//var uploadidd = $("input[name='uploadidd']").val();
							var uploadidd = '';
							var url = "/IntelligentLockInDetail/Upload";
					        $.ajaxFileUpload({  
					            url:url,  
					            secureuri:false,  
					            fileElementId:'file_excel',//file标签的id  
					            dataType: 'json',//返回数据的类型  
					            data:{uploadidd:uploadidd},//一同上传的数据  
					            success: function (data, status) { 
					            	console.log(data);
					            	$.omMessageTip.show({
										title : "操作成功",
										content : "成功导入"+data+"条",
										timeout : 1500
									}); 
					            },  
					            error: function (data, status, e) {  
					                alert(e);  
					            }  
					        });  
						};
						
						$('#import').bind('click', function() {
							$("#uploadForm")[0].reset();
                			/*对应于指定目标的上传
                			var index = $(this).parent().attr('id');
                			$("input[name='uploadidd']").val(index); 
                			*/
                			uploadDialog.omDialog("option", "title", "导入（excel）");
                			uploadDialog.omDialog("open");
			            });
						
						//搜索按钮加图片
						var searchPanel = $("#search-panel").omPanel({
				            	title : "工具栏",collapsible:true
				            });
						 $('span#button-search').omButton({
			          	    icons : {left : '/public/images/search.png'},width : 70
			       	 	    });
						 $('span#button-noSearch').omButton({
				          	    icons : {left : '/public/images/searchNo.png'},width : 70
				       	 	});
						 $('span#add').omButton({
				          	    icons : {},width : 70
				       	 	});
						 
						 $('span#import').omButton({
				          	    icons : {},width : 110
				       	 	});
						 
						 $('span#button-export').omButton({
				          	   	width : 90
				       	 });
						 
						//下载Excel格式
				       	$('span#button-export').bind('click', function(e){
				       		var searchStr='';
			                
								searchStr += 'idd='+encodeURI($("input[name='idd']", searchPanel).val())+"&";
							
								searchStr += 'productid='+encodeURI($("input[name='productid']", searchPanel).val())+"&";
							
								/*searchStr += 'producttype='+encodeURI($("input[name='producttype']", searchPanel).val())+"&";*/
							
								searchStr += 'title='+encodeURI($("input[name='title']", searchPanel).val())+"&";
							
								searchStr += 'model='+encodeURI($("input[name='model']", searchPanel).val())+"&";
							
								searchStr += 'spec='+encodeURI($("input[name='spec']", searchPanel).val())+"&";
							
								searchStr += 'deviceid='+encodeURI($("input[name='deviceid']", searchPanel).val())+"&";
								searchStr += 'manufacturer='+encodeURI($("input[name='manufacturer']", searchPanel).val())+"&";
							
								searchStr += 'batchid='+encodeURI($("input[name='batchid']", searchPanel).val())+"&";
							
								searchStr += 'productusage='+encodeURI($("input[name='productusage']", searchPanel).val())+"&";
							
								searchStr += 'inType='+encodeURI($("input[name='inType']", searchPanel).val())+"&";
							
								searchStr += 'amount='+encodeURI($("input[name='amount']", searchPanel).val())+"&";
							
								searchStr += 'price='+encodeURI($("input[name='price']", searchPanel).val())+"&";
							
								searchStr += 'totalprice='+encodeURI($("input[name='totalprice']", searchPanel).val())+"&";
							
								searchStr += 'remark='+encodeURI($("input[name='remark']", searchPanel).val())+"&";
							
								searchStr += 'addtime='+encodeURI($("input[name='addtime']", searchPanel).val())+"&";
							
								searchStr += 'operator='+encodeURI($("input[name='operator']", searchPanel).val())+"&";
							
								searchStr += 'operatenumber='+encodeURI($("input[name='operatenumber']", searchPanel).val())+"&";
							
			                var url = '/IntelligentLockInDetail/List?inid=@key&export=1&'+searchStr;
			                window.location.href = url;
				        });	
						
						//搜索绑定 =》grid ！！！！
			       	 	$('span#button-search').bind('click', function(e) {
			                var searchStr='';
			                
								searchStr += 'idd='+encodeURI($("input[name='idd']", searchPanel).val())+"&";
							
								searchStr += 'productid='+encodeURI($("input[name='productid']", searchPanel).val())+"&";
							
								searchStr += 'producttype='+encodeURI($("input[name='producttype']", searchPanel).val())+"&";
							
								searchStr += 'title='+encodeURI($("input[name='title']", searchPanel).val())+"&";
							
								searchStr += 'model='+encodeURI($("input[name='model']", searchPanel).val())+"&";
							
								searchStr += 'spec='+encodeURI($("input[name='spec']", searchPanel).val())+"&";
							
								searchStr += 'deviceid='+encodeURI($("input[name='deviceid']", searchPanel).val())+"&";
								searchStr += 'manufacturer='+encodeURI($("input[name='manufacturer']", searchPanel).val())+"&";
							
								searchStr += 'batchid='+encodeURI($("input[name='batchid']", searchPanel).val())+"&";
							
								searchStr += 'productusage='+encodeURI($("input[name='productusage']", searchPanel).val())+"&";
							
								searchStr += 'inType='+encodeURI($("input[name='inType']", searchPanel).val())+"&";
							
								searchStr += 'amount='+encodeURI($("input[name='amount']", searchPanel).val())+"&";
							
								searchStr += 'price='+encodeURI($("input[name='price']", searchPanel).val())+"&";
							
								searchStr += 'totalprice='+encodeURI($("input[name='totalprice']", searchPanel).val())+"&";
							
								searchStr += 'remark='+encodeURI($("input[name='remark']", searchPanel).val())+"&";
							
								searchStr += 'addtime='+encodeURI($("input[name='addtime']", searchPanel).val())+"&";
							
								searchStr += 'operator='+encodeURI($("input[name='operator']", searchPanel).val())+"&";
							
								searchStr += 'operatenumber='+encodeURI($("input[name='operatenumber']", searchPanel).val())+"&";
							
			                $('#mygrid').omGrid("setData", '/IntelligentLockInDetail/List?inid=@key&'+searchStr );
			            });
			       	 
						
			 			
			 				/*
			 				$("input[name='idd']", searchPanel).omCombo({
				            	 dataSource : '/IntelligentLockInDetail/All',
					                optionField : function(data, index) {
					                    return data.idd;
					                },
					                valueField : 'idd',
					                inputField : 'idd'
				            });
			 				*/
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 				$("input[name='addtime']", searchPanel).omCalendar({
			 	                dateFormat : "yy-mm-dd"
			 	            });
			 				$("input[name='addtime']", dialog).omCalendar({
			 	                dateFormat : "yy-mm-dd"
			 	            });
			 			
			 			
						
			 			
			 			
			 			
						
			 			
			 			
			 			
						
			       	    
						//不搜索 =》grid
			       	 	$('span#button-noSearch').bind('click', function(e) {
		                    $('#mygrid').omGrid("setData", '/IntelligentLockInDetail/List?inid=@key');
			            });	
			            
			             // 点击页面其他地方的时候隐藏表格里面的菜单
			            $("body").click(function(){
							$("#mygrid").find("div.op-menu:visible").hide();
			            });		
	
					});	
	
       //删除 -- ajax提交
       function delit( val ) {
    	    var uri = "/IntelligentLockInDetail/Delete/"+val;
			$.get(uri,function(responseText){
	            	if(responseText=="操作成功"){
	            		$('#mygrid').omGrid('reload');
	            		$.omMessageTip.show({
							title : "操作成功",
							content : "删除数据成功",
							timeout : 1500
						});
	            	}
	            	else
	            		alert(responseText);
				
			});
     		return false;//返回false,阻止浏览器默认行为
	   }
	
       //通用对话框 -- 提问是否 
       function doAsk( title , function_call , data)
       {
    	   $.omMessageBox.confirm({
               title:'提问',
               content:title,
               onClose:function(v){
                 if(v)
                	 function_call(data);
               }
           });
       }
       
       //通用对话框 -- 警告提示 
       function showMessage( title )
       {
    	   $.omMessageBox.alert({ content:title });
       }

       //通用对话框  -- 获取输入提示 
       function doPrompt( title , function_call , data )
       {
    	   $.omMessageBox.prompt({
               title:'输入',
               content:title,
               onClose:function(v){
                   if(v===false){
                       return;
                   }
                   if(v==''){
                       alert('输入不能为空！');
                       return false;
                   }
                   function_call(v,data);             
               }
           });
       }
       	
</script>

<!-- 搜索DIV -->
<div id="search-panel">
	<div style="width: 100%; font-size: 12px;">

		
		
		
		
		<span class="label">入库单ID：</span> 
		<input name="inid" id="inid" />
		
		
		
		<span class="label">产品ID：</span> 
		<input name="productid" id="productid" />
		
		
		
		<span class="label">产品类型：</span> 
		<input name="producttype" id="producttype" />
		
		
		
		<span class="label">产品名称：</span> 
		<input name="title" id="title" />
		
		
		
		<span class="label">产品型号：</span> 
		<input name="model" id="model" />
		
		
		
		<span class="label">规格：</span> 
		<input name="spec" id="spec" />
		
		
		
		
		
		
		<span class="label">设备ID：</span> 
		<input name="deviceid" id="deviceid" />
		
		
		
		<span class="label">生产厂家：</span> 
		<input name="manufacturer" id="manufacturer" />
		
		
		
		<span class="label">生产批次：</span> 
		<input name="batchid" id="batchid" />
		
		
		
		<span class="label">产品用途：</span> 
		<input name="productusage" id="productusage" />
		
		
		
		<span class="label">入库方式：</span> 
		<input name="inType" id="inType" />
		
		
		
		<span class="label">数量：</span> 
		<input name="amount" id="amount" />
		
		
		
		<span class="label">单价：</span> 
		<input name="price" id="price" />
		
		
		
		<span class="label">总价：</span> 
		<input name="totalprice" id="totalprice" />
		
		
		
		<span class="label">备注：</span> 
		<input name="remark" id="remark" />
		
		
		
		<span class="label">添加时间：</span> 
		<input name="addtime" id="addtime" />
		
		
		
		<span class="label">操作人：</span> 
		<input name="operator" id="operator" />
		
		
		
		<span class="label">操作号：</span> 
		<input name="operatenumber" id="operatenumber" />
		
		
		 
		<span id="button-search">搜索</span>
		<span id="button-noSearch">看全部</span>
		<span id="button-export">下载页面数据</span>
	</div>
</div>

<!-- GRID 组件 -->
<table id="mygrid"></table>

<div id="upload-form">
	<form id="uploadForm" >
		<input type="hidden" name="uploadidd" value="@key" />
	<table>
		<tr>
			<td><input type="file" name="file_excel" id="file_excel"  onblur="this.style.border ='1px solid #c9c9c9'" onfocus="this.style.border = '1px solid #00afd5'"  /></td>
		</tr>
		
	</table>
	</form>
</div>

<!-- 新增修改共用的对话框   ！！！！ -->
<div id="dialog-form">
	<form id="ipForm">
		<input type="hidden" name="idd" value="" />
		<table>
			
			
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入库单ID：</td>
					<td><input name="inid" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品ID：</td>
					<td><input name="productid" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品类型：</td>
					<td><input name="producttype" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品名称：</td>
					<td><input name="title" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品型号：</td>
					<td><input name="model" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规格：</td>
					<td><input name="spec" /></td>
				</tr>
				
			
			
			
				
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设备ID：</td>
					<td><input name="deviceid" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生产厂家：</td>
					<td><input name="manufacturer" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生产批次：</td>
					<td><input name="batchid" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品用途：</td>
					<td><input name="productusage" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入库方式：</td>
					<td><input name="inType" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数量：</td>
					<td><input name="amount" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价：</td>
					<td><input name="price" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总价：</td>
					<td><input name="totalprice" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：</td>
					<td><input name="remark" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加时间：</td>
					<td><input name="addtime" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作人：</td>
					<td><input name="operator" /></td>
				</tr>
				
			
			
			
				
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作号：</td>
					<td><input name="operatenumber" /></td>
				</tr>
				
			
			
		</table>
	</form>
</div>

<!-- 其他iframe 对话框 -->
<div id="dialog-modal" title="管理EC">
	<iframe id="ec_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
<div id="user_add_form" title="分配用户">
	<iframe id="user_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
<div id="user_auth_form" title="权限分配">
	<iframe id="func_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
}
