
 @htmlhead("SysRole 列表"){

<script type="text/javascript">
	function onclickbody(){
		$("#mygrid").find("div.op-menu:visible").hide();
	}
	
	$(document).ready(	function() {
		//Grid 初始化
		$('#mygrid').omGrid({
											height : 505,
											dataType : "json",
											dataSource : '/SysRole/List',
											showIndex : false,
											limit : 13,									
											errorMsg : "获取数据出错",
											emptyMsg : "没有数据",
											
											//Grid的header配置   ！！！！
											colModel : [
													
													{
														header : 'ID',
														name : 'idx',
														width : 100,
														align : 'center',
														sort:'clientSide'
														
													},
													
													{
														header : '角色名称',
														name : 'name',
														width : 200,
														align : 'center',
														sort:'clientSide'
														
													},
													
													/* {
														header : 'oid',
														name : 'oid',
														width : 50,
														align : 'center',
														sort:'clientSide'
														
													}, */
													
													{
														header : '状态',
														name : 'state',
														width : 50,
														align : 'center',
														sort:'clientSide',
														renderer : function(colValue) { 
															if(colValue==1)
				                                    			return "使用中";
															if(colValue==0)
																return "禁用";
				                                 		}
														
													},
													
													{
														header : '添加时间',
														name : 'addtime',
														width : 300,
														align : 'center',
														sort:'clientSide'
														
															,renderer : function(colValue) {   
					                                    		return fmtDate(new Date(colValue),"yyyy年MM月dd日hh:mm:ss");
					                                 		}
														
													},
													
													{header : '操作', name : 'operation',width:'autoExpand', align:'center', 
											     		 renderer:function(colValue, rowData, rowIndex){
											     			 // 构建表格里面每一行的操作按钮和弹出菜单的html ！！！！。
											     			 var menu = "<div id='"+rowData.idx+"' class='op-menu'><div class='edit'>编辑</div><div class='delete'>删除</div></div>";
											     			 var btn = "<a href='javascript:void(0);' id='op-btn-"+rowIndex+"' class='op-btn'>操作</a>";
											     			 return menu + btn;
												         }} ],
											         
													onRefresh: function(nowPage, pageRecords,event){
								                		var $grid = $('#mygrid'); 
								                	    $grid.find("a.op-btn").each(function(){
								                		var $btn = $(this); 
								                		
								                		// 初始化表格里面的操作按钮 
								                		$btn.omButton({
								                			icons : {left : '/public/images/op-btn-icon.png'},
								                			width : 75,
								                			onClick : function(event){                				
								                				var v = $grid.find("div.op-menu:visible");
								                				var $opMenu = $(event.currentTarget.previousSibling);
								                				// 重新计算菜单的位置
								                				var left = $btn.offset().left - $grid.offset().left - 80 + "px";
								                				if($opMenu.css("display") == "none"){
								                					$opMenu.show().css({left:left});
								                				} else{
								                					$opMenu.hide();
								                				}
								                				v.hide();
								                				event.stopPropagation();
								                				return false;
								                			}
								                		});
								                	});

								                	// 绑定表格操作按钮菜单的事件 ！！！！
								                	$grid.find("div.op-menu").each(function(){
								                		var $menu = $(this);
								                		var rowindex=$menu.id;
								                		$menu.hide();
								                		$menu.find(".edit").click(function(){
															isAdd = false;
															$("input[name=idxs]").val("");
															var index = $(this).parent().attr('id');
											                showDialog('修改',index);//显示dialog
														});
								                		
								                		$menu.find(".delete").click(function(){
															var index = $(this).parent().attr('id');
															doAsk('确定删除吗？' , delit , index );
														});
								                		
								                	});				
								               }
										});
		
						//[新增/修改]dialog初始化
						var dialog = $("#dialog-form").omDialog({
							width : 400,
							autoOpen : false,
							modal : true,
							resizable : false,
							buttons : {
								"提交" : function() {
									submitDialog();
									return false; //阻止form的默认提交动作
								},
								"取消" : function() {
									$("#dialog-form").omDialog("close");//关闭dialog
								}
							}
						});
						
						$('#add').bind('click', function() {
			                isAdd = true;
			                showDialog('新增',null);//显示dialog
			            });
						
						//填充 [新增/修改]dialog并初始化里面的输入框的数据  ！！！！
						var showDialog = function(title, idd) {
							validator.resetForm();
							if(idd!=null){
								dialog.omDialog({height:150});
								$("#isAuth").show();
								//edit info;
								var uri = "/SysRole/Get/"+idd;
								$.get(uri,function(response){
						            if(response!=null){
										$("input[name='idx']", dialog).val(response.idx);
									
										$("input[name='name']", dialog).val(response.name);
									
										if(response.state==1)
											$("#useState").attr("checked","true");
										else if(response.state==0)
											$("#unUseState").attr("checked","true");
										else
											$("input[name='state']").removeAttr("checked");
									
						         }
								});
							}else{
								dialog.omDialog({height:120});
								$("#isAuth").hide();
							}
							dialog.omDialog("option", "title", title);
							dialog.omDialog("open");//显示dialog 
						};
						
						//[新增/修改]dialog中点提交按钮时将数据提交到后台并执行相应的add或modify操作  ！！！！
						var submitDialog = function() {
							if (validator.form()) {
								var submitData = {
									operation : isAdd ? 'add' : 'modify',
										
									idx : $("input[name='idx']", dialog).val()	
								
									,idxs : $("input[name='idxs']", dialog).val()	
									
									,name : $("input[name='name']", dialog).val()
								
									,state : $("input[name='state']:checked", dialog).val()
								
										
								};

								$.post('/SysRole/Modify', submitData, function() {
									if (isAdd) {
										$('#mygrid').omGrid('reload', 1);//如果是添加则滚动到第一页并刷新
										$.omMessageTip.show({
											title : "操作成功",
											content : "添加数据成功",
											timeout : 1500
										});
									} else {
										$('#mygrid').omGrid('reload');//如果是修改则刷新当前页
										$.omMessageTip.show({
											title : "操作成功",
											content : "修改数据成功",
											timeout : 1500
										});
									}
									$("#dialog-form").omDialog("close"); //关闭dialog
								});
							}
						};

						// 对增加/修改表单的校验设置 ！！！！
						var validator = $('#ipForm').validate({
							rules : {
										name : {
											required : true,
		                        			maxlength : 20
										}
										,
										state : {
											required : true,
		                        			maxlength : 20
										}
							},
							messages : {
										name : {
											required : "角色名 不能为空",
											maxlength : '长度不能超过20个字符'
										}
										,
										state : {
											required : "state 不能为空"
										}
							},
							errorPlacement : function(error, element) { 
			                    if(error.html()){
				                    $(element).parents().map(function(){
				                        if(this.tagName.toLowerCase()=='td'){
				                            var attentionElement = $(this).next().children().eq(0);
				                            attentionElement.css('display','block');
				    	                    attentionElement.html(error);
				                        }
				                    });
			                    }
			    	        },
			    	        showErrors: function(errorMap, errorList) {
			                    if(errorList && errorList.length > 0){
			                        $.each(errorList,function(index,obj){
			                            var msg = this.message;
			                            $(obj.element).parents().map(function(){
			    	                        if(this.tagName.toLowerCase()=='td'){
			    	                            var attentionElement = $(this).next().children().eq(0);
			    	                            attentionElement.show();
			    	    	                    attentionElement.html(msg);
			    	                        }
			    	                    });
			 	                   });
			                    }else{
			                        $(this.currentElements).parents().map(function(){
				                        if(this.tagName.toLowerCase()=='td'){
				                            $(this).next().children().eq(0).hide();
				                        }
				                    });
			                    }
			                    this.defaultShowErrors();
			                }
						});
						
						//其他iframe 对话框 初始化-->
						$( "#dialog-modal").omDialog({
				            autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
				        });
						
				        $( "#user_auth_form").omDialog({
				            autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
				        });
				        
				        $("#user_add_form").omDialog({
				        	autoOpen: false,
				            width:535,
				            height: 465,
				            modal: true
						});	
						
						//搜索按钮加图片
						var searchPanel = $("#search-panel").omPanel({
				            	title : "工具栏",collapsible:true
				            });
						 $('span#button-search').omButton({
			          	    icons : {left : '/public/images/search.png'},width : 70
			       	 	    });
						 $('span#button-noSearch').omButton({
				          	    icons : {left : '/public/images/searchNo.png'},width : 70
				       	 	});
						 $('span#add').omButton({
				          	    icons : {},width : 70
				       	 	});
						 
						 $("input[name='state']", searchPanel).omCombo({
			            	 	dataSource :[
							                {text:'使用中',value:'1'},
							                {text:'禁用',value:'0'},
							        ],
							    editable : false,
				                valueField : 'value',
				                inputField : 'text'
			            });
						//搜索绑定 =》grid ！！！！
			       	 	$('span#button-search').bind('click', function(e) {
			                var searchStr='';
			                
								searchStr += 'idx='+encodeURI($("input[name='idx']", searchPanel).val())+"&";
							
								searchStr += 'name='+encodeURI($("input[name='name']", searchPanel).val())+"&";
							
								searchStr += 'state='+encodeURI($("input[name='state']", searchPanel).val())+"&";
							
								searchStr += 'addtime='+encodeURI($("input[name='addtime']", searchPanel).val())+"&";
							
			                $('#mygrid').omGrid("setData", '/SysRole/List?'+searchStr );
			            });
			 				$("input[name='addtime']", searchPanel).omCalendar({
			 	                dateFormat : "yy-mm-dd"
			 	            });
						//不搜索 =》grid
			       	 	$('span#button-noSearch').bind('click', function(e) {
		                    $('#mygrid').omGrid("setData", '/SysRole/List?key=');
			            });	
			             // 点击页面其他地方的时候隐藏表格里面的菜单
			            $("body").click(function(){
							$("#mygrid").find("div.op-menu:visible").hide();
			            });		
			            $("#mytree").omTree({
	    					dataSource : '/SysFunction/TreeData',
	    					simpleDataModel : true,
	    					showCheckbox:true,
	    				});
			            var treeDialog = $("#treeDialog-form").omDialog({
							width : 320,
							autoOpen : false,
							modal : true,
							resizable : false,
							buttons : {
								"确定" : function() {
									submitTreeDialog();
									return false; //阻止form的默认提交动作
								},
								"取消" : function() {
									$("#treeDialog-form").omDialog("close");//关闭dialog
									dialog.omDialog("open");
								}
							}
						});
			            $("input[name=authorization]").omButton({
			            	onClick:function(event){
			            		var index = $("input[name=idx]").val();
			            		setCheck(index);
			            		event.preventDefault();
			            	}
			            });
			            var setCheck = function(roleId){
			            	if(roleId){
			            		$.get("/SysRole/getFunctions/"+roleId,function(response){
			            			$('#mytree').omTree('checkAll',false);
			            			$(response).each(function(index,value){
			            				var target = $('#mytree').omTree("findNode", "id", value);
			            				$('#mytree').omTree('check',target);
			            			});
			            			treeDialog.omDialog("option", "title", "授权");
				            		treeDialog.omDialog("open");
				            		dialog.omDialog("close");
			            		});
			            	}
			            }
			            var submitTreeDialog = function(){
			            	var selectTree = $('#mytree').omTree('getCheckedNew',true);
			            	var idxs = "";
			            	$(selectTree).each(function(index,value){
			            		idxs += value.id;
			            		if(index!=selectTree.length-1)
			            			idxs +=","
			            	});
			            	if(idxs=="")
			            		idxs="DelAll";
			            	$("input[name=idxs]").val(idxs);
			            	dialog.omDialog("open");
			            	treeDialog.omDialog("close");
			            }
					});	
       //删除 -- ajax提交
       function delit( val ) {
    	    var uri = "/SysRole/Delete/"+val;
			$.get(uri,function(responseText){
	            	if(responseText=="操作成功"){
	            		$('#mygrid').omGrid('reload');
	            		$.omMessageTip.show({
							title : "操作成功",
							content : "删除数据成功",
							timeout : 1500
						});
	            	}
	            	else
	            		alert(responseText);
				
			});
     		return false;//返回false,阻止浏览器默认行为
	   }
	
       //通用对话框 -- 提问是否 
       function doAsk( title , function_call , data)
       {
    	   $.omMessageBox.confirm({
               title:'提问',
               content:title,
               onClose:function(v){
                 if(v)
                	 function_call(data);
               }
           });
       }
       
       //通用对话框 -- 警告提示 
       function showMessage( title )
       {
    	   $.omMessageBox.alert({ content:title });
       }

       //通用对话框  -- 获取输入提示 
       function doPrompt( title , function_call , data )
       {
    	   $.omMessageBox.prompt({
               title:'输入',
               content:title,
               onClose:function(v){
                   if(v===false){
                       return;
                   }
                   if(v==''){
                       alert('输入不能为空！');
                       return false;
                   }
                   function_call(v,data);             
               }
           });
       }
       	
</script>

<!-- 搜索DIV -->
<div id="search-panel">
	<div style="width: 100%; font-size: 12px;">

		
		<span class="label">角色名称：</span> 
		<input name="name" id="name" />
		
		<span class="label">状态：</span> 
		<input name="state" id="state" />
		
		<span class="label">添加时间：</span> 
		<input name="addtime" id="addtime" />
		
		 
		<span id="button-search">搜索</span>
		<span id="button-noSearch">看全部</span>
		<span id="add">新增</span>
	</div>
</div>

<!-- GRID 组件 -->
<table id="mygrid"></table>

<!-- 新增修改共用的对话框   ！！！！ -->
<div id="dialog-form">
	<form id="ipForm">
		<input type="hidden" name="idx" value="" />
		<input type="hidden" name="idxs" value="" />
		<table>
			
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色名：</td>
				<td><input name="name" /></td>
				<td><span></span></td>
			</tr>
			
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：</td>
				<td><span name="oState"><input name="state" type="radio" id="useState" value="1" />使用中<input id="unUseState" name="state" type="radio" value="0" />禁用</span></td>
				<td><span></span></td>
			</tr>
			
			<tr style="display:none" id="isAuth">
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;授权：</td>
				<td><input type="button" value="授权" name="authorization" /></td>
				<td><span></span></td>
			</tr>
			
			
		</table>
	</form>
</div>
<div id="treeDialog-form">
<br>
	<table id="body-table">
		<tr>
			<td valign="top" >
				<div class="body-box" id="ext-gen10"
					style="width: 298px; height: 505px; overflow: auto;">
					<ul id="mytree">
					</ul>
				</div>
			</td>
			<td valign="top" >
				<div style="float: right;"></div>
			</td>
		</tr>
	</table>
</div>
<!-- 其他iframe 对话框 -->
<div id="dialog-modal" title="管理EC">
	<iframe id="ec_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
<div id="user_add_form" title="分配用户">
	<iframe id="user_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
<div id="user_auth_form" title="权限分配">
	<iframe id="func_dialog" frameborder="0"
		style="width: 100%; height: 98%;" src="about:blank" scrolling='no'
		marginwidth='0' marginheight='0'></iframe>
</div>
}
